<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl >
  <scope>GLOBAL</scope>
  <id>{{ JENKINS_CREDENTIALS_ID }}</id> 
  <username>{{ github_username }}</username>
  <password>{{ github_token }}</password>
  <description>{{ github_username }} auth token credential</description>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
